# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js build output
.next/
out/

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Optional: Ignore build artifacts
dist/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
